<!doctype html>
<html lang="ru">
<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css' type='text/css' media='all' />
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 1360px;
            margin: 0 auto;
            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
</head>
<body>
<article class='markdown-body'>
    {{ content|raw }}
</article>
</body>
</html>